@use 'src/styles/variables' as v;

.suitcaseList {
  background-color: v.$mainColor;
  padding-bottom: 2rem;

  .form-suitcase {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 1rem auto;

    .input-item {
      background-color: v.$lightColor;
      border: none;
      border-radius: 5px;
      height: 3rem;
      width: 65%;
      padding: 0.5rem;
    }

    .submit-button {
      background-color: v.$lightColor;
      border: 2px solid v.$lightColor;
      border-radius: 5px;

      &:hover {
        background-color: v.$mainColor;
        color: v.$lightColor;
      }
    }
  }
  .items-list {
    padding: 1rem;
    font-size: 1.8rem;
    margin-left: 0.5rem;
    color: v.$lightColor;

    .checkbox {
      transform: scale(2);
      margin-right: 1rem;
    }

    .item {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }
    .x-icon {
      background-color: v.$lightColor;
      color: v.$mainColor;
      border-radius: 50%;
      width: 2rem;
    }
  }

  // Styling for Semantic UI button inside the component
  button.ui.button {
    background-color: v.$lightColor;
    color: v.$mainColor;
    width: 90%;
    margin: auto;
    display: block;
    margin-bottom: 1rem;

    &:hover {
      background-color: v.$mainColor;
      color: v.$lightColor;
    }
  }

  div.User {
    align-items: center;
  }
}
