@use '../../../../../styles/variables' as v;

.lastPart {
  position: relative;
  display: flex;
  align-items: center;
  background: url('../../../../../assets/LogoPicture.png') top/cover no-repeat;
  height: 50vh;

  @media (min-width: 900px) {
    height: 80vh;
  }

  @media (min-width: 1200px) {
    height: 100vh;
  }

  img {
    display: none; /* Cacher l'image par défaut */

    @media (min-width: 900px) {
      display: block; /* Afficher l'image sur les écrans de 900 pixels et plus */
      width: 95%;
    }
  }

  p {
    position: absolute;
    bottom: 0;
    font-size: 1.5rem;
    color: v.$lightColor;
    padding: 2rem;
    text-align: center;

    @media (min-width: 600px) {
      padding: 2rem 6rem;
    }
  }
}
