@use '../../../../styles/variables' as v;

// Card styling
.presentationCard {
  margin: 1rem 0;
  width: 14rem;
  height: 19.5rem;
  padding: 1rem;
  color: v.$darkColor;
  background-color: v.$mainColor;
  box-shadow: 4px 4px 6px v.$darkColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: v.$lightColor;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

  // Member's avatar image styling
  .ui.avatar.image {
    width: 6rem;
    height: 6rem;
  }

  // Member's name styling
  h3 {
    padding: 1rem 0;
    font-weight: bold;
  }
}
