@use 'src/styles/variables' as v;

.TravelPicture {
  position: relative;
  aspect-ratio: 1/1.3; 
  overflow: hidden; 

  @media (min-width: 600px) {
    aspect-ratio: 1.5/1; 
  }

  img {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  // Styling for the hidden file input to select the new photo (triggered indirectly through a label and a visible icon -> more userfriendly)
  #photo-upload {
    display: none;
  }

  // Styling for the pencil icon (used for triggering file upload)
  .icon {
    width: 2.5rem;
    color: v.$lightColor;
    background-color: rgba(v.$darkColor, 0.5);
    padding: 0.6rem;
    border-radius: 50%;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
  }
}
