@use '../../../styles/variables' as v;

.ui.button {
  background-color: v.$mainColor;
  color: v.$lightColor;
  width: 14rem; // TODO 17.5rem?pb in popup
  height: 3rem; //TODO 3.75rem?
  padding: 1rem;
  margin: 0.5rem; // TODO why?
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: normal;
  font-size: 1.25rem;

  &:hover {
    background-color: v.$lightColor;
    color: v.$mainColor;
  }
}
