@use 'src/styles/variables' as v;

.addActivity,
.updateActivity {
  .ReturnTitle {
    @media (min-width: 767px) {
      padding: 0 5rem;
    }
    @media (min-width: 1024px) {
      padding: 0 10rem;
    }
    @media (min-width: 1280px) {
      padding: 0 15rem;
    }
  }
}
