@use '../../../styles/variables' as v;

.LabelInput {
  background-color: v.$lightColor;
  width: 15rem;
  padding: 1rem;

  .ui.input input {
    border: 1px solid v.$mainColor;
    background-color: v.$lightColor;
    width: 80%; /* Set width for the input within the container */
  }

  p {
    margin: 1rem 0;
    font-weight: bold;
  }
}
