/*
Définition de variables Sass, par exemple :
   $color: #282c34;
*/

$mainColor: #62717c;
$secondaryColor: #b64016;
$lightColor: #f7f0e7;
$darkColor: #252020;
$restaurant: #b64016;
$culture: #ecb527;
$activity: #8f3349;
$pub: #6b4b8f;
