@use '../../../styles/variables' as v;

.TravelsMenu {
  background-color: v.$mainColor;
  color: v.$lightColor;
  width: 80%; // set the width according to the size of its container
  border-radius: 10px;
  display: block;
  margin: auto; // center the component on the page

  .dropdown-trigger {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;

    .text {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      p {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        padding-bottom: 0.5rem;
      }

      span {
        font-weight: bold;
        font-size: 1.5rem;
        font-family: 'Inria Serif', serif;
      }
    }

    .icon {
      width: 3rem;
    }
  }

  .dropdown-content {
    background-color: v.$lightColor;
    color: v.$mainColor;

    .item {
      padding: 0.5rem;
      border-top: 1px solid v.$mainColor;
      line-height: 1.5rem;
      font-family: 'Montserrat', sans-serif;
    }

    // Hover styles for dropdown menu items
    .item:hover {
      color: v.$lightColor;
      background-color: v.$mainColor;
    }
  }
}
