@use '../../../styles/variables' as v;

#MultipleSelector  {
  border: 1px solid v.$mainColor;
  background-color: v.$lightColor;
  height: 3.75rem;

    & .item {
      background-color: v.$lightColor;
      border-top: 1px solid v.$mainColor;
    }
}