@use '../../../styles/variables' as v;

.cardContainer {
  // Set minimum and maximum width for the card container
  min-width: 20rem;
  max-width: 31.75rem;
  // Center the content horizontally and vertically
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 2/1; // Ensure the aspect ratio of 2:1
  overflow: hidden; 
  position: relative; // Positioning relative to handle absolute positioning of child elements

  .cardPicture {
    width: 100%;
    // Make the image fill the container while maintaining aspect ratio
    height: auto;
    object-fit: cover;
  }

  .cardTitle {
    position: absolute; // Position the title absolute within the container
    left: 0;
    width: 100%;
    padding: 1.5rem;
    background-color: rgba(
      v.$darkColor,
      0.75
    ); // Add a semi transparent background for better lisibility
    color: v.$lightColor;
    font-family: 'Inria Serif', serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 2px v.$darkColor; // Add a subtle text shadow for better visibility

    // style for the countdown
    span {
      font-size: 1rem;
    }
  }
}
