@use 'src/styles/variables' as v;

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;

  @media (min-width: 900px) {
    padding: 1rem 2rem;
    align-items: center;
  }

  // Logo styling
  .logo {
    width: 6rem;
    height: fit-content;

    @media (min-width: 600px) {
      width: 10rem;
    }
  }
}
