.picture {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1rem;
  padding: 0.5rem;

  img {
    box-sizing: border-box;
    display: block;
    margin: auto;
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
  }
}
