.picture {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1rem;

  img {
    box-sizing: border-box;
    display: block;
    margin: auto;
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
  }

  @media (min-width: 1025px) {
    grid-template-columns: repeat(3, 1fr); /* 3 columns from 1025px */
    img {
      height: 15rem; /* Reduce the height of images */
      width: 100%;
    }
  }

  @media (min-width: 1800px) {
    grid-template-columns: repeat(4, 1fr); /* 4 columns from 1800px */
    img {
      height: 20rem; /* Further reduce the height of images */
      width: 100%;
    }
  }
}
