.tag {
  display: inline-block;
  padding: 0.6rem;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  border: 5px solid transparent; /* Ajout de la bordure */
}

.tag p {
  font-weight: bold;
}

.tag.selected {
  color: #fff;
}

.tag.selected p {
  font-weight: bold;
}