.addAFriend {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .formAddFriend {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;

    @media (min-width: 767px) {
      padding: 4rem 5rem;
    }

    @media (min-width: 1024px) {
      padding: 4rem 10rem;
    }

    @media (min-width: 1280px) {
      padding: 4rem 15rem;
    }

    .selector {
      flex: 1;
      text-align: center; // Center the content horizontally
    }

    & .buttonsAddFriend {
      button.ui.button.SimpleButton {
        width: 100%; // Adjust the width as needed
        max-width: 500rem;
        display: block;
        margin-top: 1rem;
      }
    }
  }
}
