.travelDetails {
  position: relative;

  .TravelsMenu {
    position: absolute;
    top: 53vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
  }

  .TravelPicture {
    margin-top: 3rem;
  }

  .travelDates {
    text-align: center;
    padding: 2rem 0;
    font-family: 'Montserrat', sans-serif;
  }

  .activities {
    overflow-x: auto;
    white-space: nowrap;

    div {
      display: flex;

      .ActivityCard {
        flex: 0 0 auto;
        flex-direction: column;
      }
    }
  }

  .buttons {
    padding: 3rem 0 8.5rem 0;

    .ui.button {
      width: 92%;
      margin: auto;
      margin-bottom: 1.5rem;
    }
  }
}
