@use '../../../styles/variables' as v;

.ItemSuitcase {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;

  .checkbox {
    transform: scale(2.5);
    border-color: v.$mainColor;
    margin-right: 1rem;
  }

  .ui.input input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
    border: 1px solid v.$mainColor;
    border-radius: 5px;
  }

  .icon {
    width: 3rem;
  }
}
