.legalNotice {
  padding: 1rem;

  @media (min-width: 767px) {
    padding: 1rem 8rem;
  }

  li {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 1rem;

    p {
      padding-bottom: 1rem;
    }
    .question {
      font-weight: bold;
    }
  }
}
