@use 'src/styles/variables' as v;

.NavBarMobileContainer {
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-top: 3px solid v.$lightColor;
  background-color: v.$mainColor;
  overflow: visible; // Allows .solid to extend beyond the container
  z-index: 10; // Set a z-index value for the parent element

  @media (min-width: 1024px) {
    display: none;
  }
}

.NavBarMobile {
  width: 100%;
  padding: 1.5rem 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  .icon {
    width: 3rem;
    color: v.$lightColor;
  }
  .picture {
    padding: 0;
  }

  .solid {
    width: 5rem;
    margin-top: -2rem;
    z-index: 15; // Set a higher z-index for the .solid element
  }
}
