@use '../../../styles/variables' as v;

.NavBarMobile {
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  border-top: 2px solid v.$mainColor;
  position: relative;

  .icon {
    width: 3rem;
  }

  .solid {
    position: absolute;
    top: -15px;
    width: 4rem;
  }
}