div.LabelInput {
  width: 100%;

  .input {
    width: 100%;
    margin-bottom: 0;
    font-size: 1.25rem;
  }
}

.buttons {
  padding: 1rem 0;

  button.ui.button.SimpleButton {
    width: 100%;
    max-width: 500rem;
    margin: 1rem 0;
  }
}

.deleteAccount {
  padding: 0 1rem 2rem 0;
  font-family: 'Inria serif', serif;
  text-align: end;
  display: block;
}
