@use '../../../styles/variables' as v;

.TravelersList {
  background-color: v.$mainColor;
  padding-bottom: 2rem;

  h3 {
    color: v.$lightColor;
  }

  .arrowIcon {
    color: v.$lightColor;
  }
  ul {
    padding: 1rem 0;

    span {
      color: v.$lightColor;
    }

    img {
      font-size: 1.5rem;
    }
  }

  // Styling for Semantic UI button inside the component
  button.ui.button {
    background-color: v.$lightColor;
    color: v.$mainColor;
    width: 90%;
    margin: auto;
    display: block;

    &:hover {
      background-color: v.$mainColor;
      color: v.$lightColor;
      border: 2px v.$lightColor solid;

      & i.icon {
        color: v.$lightColor;
      }
    }

    // Styling for the icon inside the button
    i.icon {
      color: v.$mainColor;
    }
  }

  div.User {
    align-items: center;
  }
}
